<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>FF2eBook.com</title>
    <!--StylesSheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--JavaScripts-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body style="padding-left: 20px;">
<h2>Direct Documentation</h2>
To use the direct conversion, you will need to find 3 things about the fan fiction you wish to convert:
<ul>
    <li>The fanfiction source (Use the shortened version e.g. ffnet):
    <ul>
        <li>fanfiction.net (ffnet)</li>
        <li>fictionpress.com (fpcom)</li>
        <li>More to come...</li>
    </ul>

    <li>The fic id.</li>
    <li>What file type you wish to download. (Support epub & mobi)</li>
</ul>

Then use these data to construct the direct URL: http://www.ff2ebook.com/direct/source/id/fileType <br />
e.g. http://www.ff2ebook.com/direct/ffnet/2705927/epub
</body>
</html>