<div class="menu">
    <div class="row">
        <div class="col-xs-12 hidden-lg logo">FF<span class="orange">2</span>EBOOK</div>
    </div>
    <div class="row menu-bar">
        <div class="col-lg-1 logo hidden-xs hidden-md hidden-sm">FF<span class="orange">2</span>EBOOK</div>
        <div class="col-xs-12 col-lg-10">
            <a href="/" type="button" class="btn btn-default btn-lg" aria-label="Convert">
                <span class="glyphicon glyphicon-book munu" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm hidden-md">Convert</span>
            </a>
            <a href="/batch" type="button" class="btn btn-default btn-lg" aria-label="Batch">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm hidden-md">Batch</span>
            </a>
            <a href="/archive" type="button" class="btn btn-default btn-lg" aria-label="Archive">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm hidden-md">Archive</span>
            </a>
            <a href="#" type="button" class="btn btn-default btn-lg" aria-label="Donation">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm hidden-md">Donation</span>
            </a>
            <a href="https://github.com/p0ody/ff2ebook-node/issues" type="button" class="btn btn-default btn-lg" aria-label="Issue">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="hidden-xs hidden-sm hidden-md">Issue</span>
            </a>
        </div>
    </div>
</div>